<div fxLayout="column" >
  <div fxLayout="column" fxLayoutAlign="center end">
    <button
      type="button"
      mat-raised-button
      color="primary"
      (click)="exportToYnab()"
    >
      Save YNAB Data
    </button>
  </div>
<mat-card fxFlexOffset="3" class="example-card" class="mat-elevation-z3">
  <mat-card-header>
    <mat-card-title>YNAB Data</mat-card-title>
    <mat-card-subtitle>First 10 rows</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content fxLayout="column" fxLayoutAlign="center stretch">
    <table mat-table [dataSource]="data.slice(0, 10)" class="mat-elevation-z0">
      <ng-container
        [matColumnDef]="ynabColumn"
        *ngFor="let ynabColumn of ynabHeaders"
      >
        <th mat-header-cell *matHeaderCellDef>
          {{ ynabColumn }}
          <hr />
          <mat-form-field appearance="fill" id="{{ ynabColumn }}" style="margin: auto 3px;" fxLayout="column" fxLayoutAlign="center stretch">
            <mat-label>Choose Option</mat-label>
            <mat-select
            (valueChange)="onYnabColMapped(ynabColumn, $event)"
              [value]="getColumnName(ynabColumn)"
            >
              <mat-option value="">Choose Option</mat-option>
              <mat-option *ngFor="let column of columnHeaders" [value]="column">
                {{ column }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element[getColumnName(ynabColumn)] }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="ynabHeaders"></tr>
      <tr mat-row *matRowDef="let row; columns: ynabHeaders"></tr>
    </table>
  </mat-card-content>
</mat-card>
</div>