<div fxLayout="column">
  <mat-toolbar color="primary" class="sticky-toolbar mat-elevation-z3">
    <a mat-flat-button color="primary" href=".">
      {{ title }}</a
    >
    <span class="example-spacer"></span>
    <a
      type="button"
      mat-stroked-button
      href="https://github.com/ahmedmsvb/ynab-csv/issues/new"
      target="_blank"
    >
      Report an issue
      <mat-icon>info</mat-icon>
    </a>
  </mat-toolbar>

  <div fxFlexOffset="5" class="screen-margins">
    <div class="screen-margins" *ngIf="showFirstUpload">
      <app-file-input (fileUploaded)="onFileUploaded($event)"></app-file-input>
    </div>

    <div *ngIf="!showFirstUpload">
      <app-preview [data]="data" [columnHeaders]="columnHeaders"></app-preview>
    </div>
  </div>
</div>
