<div fxLayout="column">
  <mat-toolbar color="primary" >
    <a mat-flat-button color="primary" href=".">
      {{ title }} - (Under Construction...)</a
    >
    <span class="example-spacer"></span>
    <a
      type="button"
      mat-stroked-button
      href="https://github.com/ahmedmsvb/ynab-csv/issues/new"
      target="_blank"
    >
      Report an issue
      <mat-icon>info</mat-icon>
    </a>
    <!-- <app-file-input
        *ngIf="!showFirstUpload"
        (fileUploaded)="onFileUploaded($event)"
      ></app-file-input> -->
  </mat-toolbar>

  <div fxFlexOffset="5" class="screen-margins" *ngIf="showFirstUpload">
    <app-file-input (fileUploaded)="onFileUploaded($event)"></app-file-input>
  </div>

  <app-data-mapping
    fxLayout="column"
    fxFlexOffset="3"
    class="screen-margins"
    fxLayoutAlign="center stretch"
    *ngIf="!showFirstUpload"
    [ynabHeaders]="getYnabColumnHeaders()"
    [data]="data"
    [columnHeaders]="columnHeaders"
  ></app-data-mapping>

  <app-preview
    fxLayout="column"
    fxFlexOffset="3"
    class="screen-margins"
    fxLayoutAlign="center stretch"
    *ngIf="!showFirstUpload"
    [data]="data"
    [columnHeaders]="columnHeaders"
  ></app-preview>
</div>
