.example-spacer {
  flex: 1 1 auto;
}

@media all and (min-width: 700px) {
  .screen-margins {
    margin: auto 15%;
  }
}

.sticky-toolbar {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}