<mat-card class="example-card" class="mat-elevation-z3">
    <mat-card-header>
      <mat-card-title>Imported CSV</mat-card-title>
      <mat-card-subtitle>First 10 rows</mat-card-subtitle>
    </mat-card-header>
    <hr>
    <mat-card-content fxLayout="column" fxLayoutAlign="center stretch">
      <table mat-table [dataSource]="data.slice(0, 10)" class="mat-elevation-z0">
        <ng-container
          [matColumnDef]="column"
          *ngFor="let column of columnHeaders"
        >
          <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
          <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="columnHeaders"></tr>
        <tr mat-row *matRowDef="let row; columns: columnHeaders"></tr>
      </table>
    </mat-card-content>
  </mat-card>